.title{
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: baseline;
	justify-items: left;
	gap: 20px;
	font-weight: 500;
	font-size: 2.6rem;
	line-height: 3.5rem;
}

.wrapper {
	padding-top: 40px;
}

.hh-title{
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: baseline;
	justify-items: left;
	gap: 20px;
	font-weight: 500;
	font-size: 2.2rem;
	line-height: 3rem;
}

.skills{
	margin-bottom:50px;
}

.skills-title{
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 2.2rem;
	line-height: 3rem;
}

.skills-tag{
	margin-left: 10px;
}

