.product{
	display: grid;
	grid-template-columns: [start] 70px [logo-end] 30px [title-start] calc(50% - 100px) [middle] auto [price-start] auto [price-end] 40px [credit-start] auto [credit-end] 40px [rating-start] auto [end];
	margin-top: 30px;
	padding: 30px;
}

.product-logo{
	grid-column: start/logo-end;
	grid-row: 1 / span 2;
}

.product-title, .product-tag{
	grid-column: title-start/middle;
}

.product-price, .product-price-title{
	grid-column: price-start/price-end;
}

.product-credit, .product-credit-title{
	grid-column: credit-start/credit-end;
}

.product-rating, .product-rating-title{
	grid-column: rating-start/end;
}

.product-desc{
	grid-column: start/end;
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin-bottom: 20px;
}

.product-hr{
	grid-column: start/end;
	width:100%;
	border: 1px solid var(--gray-light);
	margin: 20px 0;
}

.product-feature{
	grid-column:start/middle;
}

.product-adv{
	grid-column: middle/end;
	font-size: 1.6rem;
	line-height: 2.2rem;
}

.product-actions{
	grid-column: start/end;
}

.product-logo img{
	border-radius: 5px;
}

.product-title{
	font-weight: 600;
	font-size: 2rem;
	line-height: 2.7rem;
	align-self: flex-end;
}

.product-price, .product-credit{
	font-size: 2rem;
	line-height: 2.7rem;
	align-self: flex-end;
}

.product-credit-months{
	font-size: 1.4rem;
	line-height: 1.9rem;
}

.product-rating{
	align-self: flex-end;
}

.product-price-title, 
.product-credit-title, 
.product-rating-title{
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 1.9rem;
}

.product-price-discount{
	margin-left: 5px;
}

.product-tag-category{
	margin-top: 5px;
}

.product-actions-button{
	margin-left:20px;
}

.product-advantages-title, 
.product-disadvantages-title{
	font-weight: 700;
	margin-bottom: 5px;
} 

.product-advantages{
	border-left: 2px solid var(--green);
	padding-left: 15px;
	margin-bottom: 20px;
}

.product-disadvantages{
	border-left: 2px solid var(--red);
	padding-left: 15px;
}

.product-feature-characteristic{
	display: grid;
	grid-template-columns: auto 1fr auto;
	padding-right: 60px;
	font-size: 1.6rem;
	line-height: 3.2rem;
	align-items: baseline;
	gap: 10px;
}

.product-feature-characteristic-name{
	margin-right: 10px;
	font-weight: 700;
}

.product-feature-characteristic-dots{
	border: 1px dashed var(--gray-light);
	margin-bottom: 5px;
}

.product-rating-title-link{
	color: var(--primary);
}

.product-review{
	overflow: hidden;
	padding: 30px;
}

@media screen and (width <=1320px) {
	.product{
		grid-template-columns: 70px  30px  auto 40px auto 40px 1fr;
		grid-template-areas: 
			"logo . title title title title title"
			"logo . tag tag tag tag tag"
			"price price price . credit . rating"
			"priceTitle priceTitle priceTitle . creditTitle . ratingTitle"
			"hr hr hr hr hr hr hr"
			"description description description description description description description"
			"feature feature feature feature feature feature feature"
			"advBlock advBlock advBlock advBlock advBlock advBlock advBlock"
			"hr2 hr2 hr2 hr2 hr2 hr2 hr2"
			"actions actions actions actions actions actions actions";
	}

	.product-logo{
		grid-area: logo;
		margin-bottom: 20px;
	}

	.product-title{
		grid-area: title;
	}

	.product-tag{
		grid-area: tag;
		margin-bottom: 20px;
	}

	.product-price{
		grid-area: price;
	}

	.product-credit{
		grid-area: credit;
	}

	.product-rating{
		grid-area: rating;
	}

	.product-price-title{
		grid-area: priceTitle;
	}

	.product-credit-title{
		grid-area: creditTitle;
	}

	.product-rating-title{
		grid-area: ratingTitle;
	}

	.product-hr{
		grid-area: hr;
	}

	.product-desc{
		grid-area: description;
	}

	.product-adv{
		grid-area: advBlock;
	}

	.product-feature{
		grid-area: feature;
		margin-bottom: 20px;
	}

	.product-hr-last{
		grid-area: hr2;
	}

	.product-actions{
		grid-area: actions;
	}
}


@media screen and (width <=640px) {
	.product{
		grid-template-columns: 70px  30px  1fr;
		grid-template-areas: 
			"logo . title "
			"logo . tag "
			"priceTitle priceTitle price"
			"creditTitle creditTitle credit"
			"ratingTitle ratingTitle rating"
			"hr hr hr"
			"description description description"
			"feature feature feature"
			"advBlock advBlock advBlock"
			"hr2 hr2 hr2"
			"actions actions actions";
	}

	.product-price{
		margin-bottom: 10px;
	}

	.product-credit{
		margin-bottom: 20px;
	}

	.product-rating{
		margin-bottom: 20px;
	}
}

@media screen and (width <=640px) {
	.product{
		grid-template-columns:1fr;
		grid-template-areas: 
			"logo"
			"title"
			"tag"
			"priceTitle"
			"price"
			"creditTitle"
			"credit"
			"ratingTitle"
			"rating"
			"hr"
			"description"
			"feature"
			"advBlock"
			"hr2"
			"actions";
	}
}