.first-level{
	display: grid;
	grid-template-columns: 20px 1fr;
	gap: 20px;
	align-items: center;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.5rem;
	margin-bottom: 20px;
}

.first-level-active, 
.first-level:hover{
	color: var(--primary);
}

.first-level svg,
.first-level:hover svg{
	fill: var(--primary);
}

.second-level{
	margin-bottom: 10px;
	cursor:pointer;
	text-transform: uppercase;
	color: var(--gray-dark);
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.9rem;
}

.second-block{
	margin-left: 10px;
	padding-left: 30px;
	border-left: 1px solid #DFDFDF;
}

.second-level-block{
	overflow: hidden;
}

.third-level{
	margin-bottom: 10px;
	cursor:pointer;
	color: var(--gray-dark);
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 1.6rem;
	display: block;
}

.third-level-active, 
.third-level:hover{
	color: var(--primary);
}

