.wrapper{
	display: grid;
	min-height: 100vh;
	grid-template: 
		". header header ." auto
		". sidebar body ." 1fr
		"footer footer footer footer" auto
		/ auto 230px minmax(320px, 1200px) auto;
	gap: 10px;
}

.header{
	grid-area: header;
}

.sidebar{
	grid-area: sidebar;
}


.body{
	grid-area: body;
	outline: none;
}


.footer{
	grid-area: footer;
}

.skip-link{
	display: block;
	position:fixed;
	left: 100px;
	top:0;
	overflow: hidden;
	height:0;
	background-color: var(--primary);
	color: var(--white);
}

.skip-link-displayed{
	height: auto;
}

@media (width <= 760px){
	.sidebar{
		display: none;
	}
	
	.wrapper{
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas: 
			"header"
			"body"
			"footer";
	}
}
